:root {
    --fbt-Color: #555A88;
    --ft-Color: white;
    --fbf-Color: #0002;
    --fbs-Color: white;
    --cix-Color: #c70510;
    --ctreq-Color: rgb(34, 31, 31);
    --civ--Color: #00900e;
}

.form__container,
.form__confirm--container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--fbf-Color);
    backdrop-filter: blur(1px);
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 150ms ease;
}

.form__container--close {
    transform: scale(0);
    transition: transform 0ms ease;
}

.form {
    background-color: var(--fbs-Color);
    width: 100%;
    max-width: 320px;
    padding: 1.8em 1.2em 2.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}

.form__title {
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
}

.bx-x {
    position: absolute;
    right: 1.4em;
    top: 1em;
    cursor: pointer;
    width: 1.5em;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fbt-Color);
    color: var(--ft-Color);
    border-radius: 50%;
    transition: filter 0.5s;
}

.bx-x:hover {
    filter: brightness(1.15);
    font-weight: 600;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.form__label {
    font-size: 0.7rem;
    padding-left: 1em;
}

.form__label--req {
    position: absolute;
    font-size: 1rem;
    color: var(--cix-Color);
}

.form__input {
    padding: 0.3em 0.8em;
    font-size: 0.7rem;
    font-weight: 200;
}

.form__btn {
    width: 120px;
    padding: 0.5em 1em;
    background-color: var(--fbt-Color);
    color: var(--ft-Color);
    font-weight: 500;
    border-radius: 0.5em;
    margin-top: 1em;
    align-self: center;
    transition: filter 0.5s;
}

.form__btn:hover {
    filter: brightness(1.15);
}

.form__req {
    display: flex;
    gap: 0.3em;
    font-size: 0.8rem;
    color: var(--ctreq-Color);
    padding-top: 1em;
}

.form__req--sym {
    font-size: 1rem;
    color: var(--cix-Color);
}

.form__confirm {
    background-color: var(--fbs-Color);
    width: 100%;
    max-width: 200px;
    padding: 2em;
    border: 2px solid var(--fbt-Color);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center;
}

.form__confirm--icons {
    display: flex;
    gap: 2em;
}

.bx-x-circle,
.bx-check-circle {
    background-color: var(--ft-Color);
    padding: 0.08em;
    font-size: 1.5rem;
    border: 2px solid var(--ctreq-Color);
    border-radius: 20%;
    cursor: pointer;
}

.bx-x-circle {
    color: var(--cix-Color);
    transition: box-shadow 0.5s;
}

.bx-x-circle:hover {
    box-shadow: 0 0 0.3em var(--cix-Color);
}

.bx-check-circle {
    color: var(--civ--Color);
    transition: box-shadow 0.5s;
}

.bx-check-circle:hover {
    box-shadow: 0 0 0.3em var(--civ--Color);
}

.form__msg {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 3;
    top: -200px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #a6a6a60a;
    backdrop-filter: blur(1px);
}

.form__msg--CU {
    background-color: var(--f-Color);
    color: var(--ts-Color);
    padding: 1.5em;
    border-radius: 1em;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 170px;
}

.form__msg--okey {
    width: 60px;
}