:root {
    --tf-Color: #555555be;
    --ts-Color: white;
    --b-Color: rgba(226, 0, 0, 50%);
    --s-Color: #0005;
    --bc-User: #555a884f;
    --f-Color: #555A88;
    --i-Color: #132078b7;
}

.user {
    border: 0.05em solid var(--f-Color);
    width: 100%;
    max-width: 320px;
    border-radius: 0.4em;
    padding: 1.5em 1em;
    min-width: 250px;
    box-shadow: 0 0 0.3em var(--f-Color);
}

.user__nameIcon {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.bx-user {
    background-color: var(--bc-User);
    color: var(--f-Color);
    font-size: 3rem;
    border-radius: 50%;
    width: 1.5em;
    aspect-ratio: 1;
    text-align: center;
    line-height: 70px;
}

.user__name {
    text-transform: lowercase;
}

.user__name::first-line {
    text-transform: capitalize;
}

.user__list {
    display: grid;
    gap: 0.5em;
    margin-bottom: 1em;
}

.user__item {
    display: grid;
    flex-direction: column;
    gap: 0.2em;
}

.user__label {
    font-size: 0.8rem;
    color: var(--tf-Color);
    text-transform: uppercase;
    position: relative;
    left: 1.5em;
}

.user__info {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.bx-envelope,
.bx-gift {
    font-size: 1.2rem;
    color: var(--i-Color);
}

.user__value {
    font-size: 0.8rem;
}

.user__footer {
    display: flex;
    justify-content: end;
    gap: 1em;
}

.user__btn {
    width: 2.5em;
    aspect-ratio: 1;
    border-radius: 0.4em;
    transition: transform 200ms ease, box-shadow 200ms ease;
}

.user__btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0.3em var(--s-Color);
}

.user__delete {
    color: var(--ts-Color);
    background-color: var(--b-Color);
}

.user__update {
    color: var(--tf-Color);
    border: 0.05em solid currentColor;
}

.user__icon {
    font-size: 1.2rem;
}

.user__confirm--alert {
    text-transform: lowercase;
}

.msg {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2;
    top: -200px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.msg__delete {
    background-color: var(--f-Color);
    color: var(--ts-Color);
    padding: 1.5em;
    border-radius: 1em;
    font-weight: 500;
}